@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
/* ------------------------------------  Restart */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

body{
    color: #eee;
    font-size: 1.6rem;
}
img{
    width: 100%;
}
a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #085c89;
}
h1{
    line-height: 1;
}

ul{
    list-style-type: none;
}
/* ------------------------------------  Layout / Components */
.container{
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 25px;
}

.section-header{
    color: #222;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 3.4rem;
}

.section-header span{
    color: #eee;
    font-weight: 200;
    background: #085c89 ;
    padding: 2px 5px;
}
/* ------------------------------------  Navigation */

.main-nav .container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.main-nav .container ul{
    display: none;
    gap: 15px;
}

.main-nav .container #logo a{
    font-weight: bold;
}

#mobile-menu{
    position: relative;
    display: block;
}

#mobile-menu, #mobile-menu::before, #mobile-menu::after{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #085c89;
    transition: all .5s;
}
#mobile-menu::before, #mobile-menu::after{
    content: "";
    position: absolute;
}

#mobile-menu::before{
    top: -8.5px;

}
#mobile-menu::after{
    top: 9.5px;
}

@media (min-width:650px){
    #mobile-menu{
        display: none;
    }
    .main-nav .container ul{
        display: flex;
    }
}
@media (min-width:1240px){
    .main-nav .container ul li a{
        font-size: 2rem;
    }
    .main-nav .container ul li a:hover{
        color: #032a40;
    }
    .main-nav .container .logo a{
        font-size: 2.4rem;
    }
}

/* ------------------------------------  Header */
header{
    background: rgb(3,42,64);
    background: linear-gradient(158deg, rgba(3,42,64,1) 27%, rgba(8,92,137,1) 82%);
}

header .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
}

header .container .header-text{
    text-align: center;
}

header .container .header-text h1{
    font-size: 2.2rem;
}

header .container .header-text p{
    margin: 15px 0;
    font-weight: 200;
}


header .container .header-text .btn{
    display: inline-block;
    padding: 10px 25px;
    font-weight: bold;
    background-color: #ddd;
    border-radius: 4px;
}
header .container img{
    height: 30%;
    width: auto;
    margin-top: 50px;
    border-radius: 50%;
}


@media (min-width:530px) and (orientation:landscape), (min-width:750px) and (orientation:portrait){
    header .container{
        height: calc(100vh - 70px);
        flex-direction: row;
        justify-content: space-between;
    }

    header .container img{
        margin-top: 0;
    }

    header .container .header-text{
        text-align: left;
        max-width: 55%;
    }
}

@media (min-width:750px) and (orientation: portrait){
    header .container{
        height: 40vh;
    }
    header .container img{
        height:60% ;
        width: auto;
    }
}

@media (orientation:landscape){
    header .container img{
        width: 35%;
        height: auto;
    }
}

@media (min-width:960px){
    header .container{
        height: 60vh;
    }

    header .container .header-text h1{
        font-size: 4rem;
    }
    
    header .container .header-text {
        font-size: 2rem;
    }

}

@media (min-width:1240px){
    header .container .header-text .btn:hover{
        background: #fff;
        box-shadow: 4px 4px 10px #085c89;
        color: #032a40;
    }
}
/* Media for samsung fold */
@media (max-height:280px) and (orientation: landscape){
    header .container .header-text{
        font-size: 1.4rem;
    }
    header .container img{
        width: 30%;
        height: auto;
    }
}
/* ------------------------------------  Feature */


.features .container {
    text-align: center;
    padding-bottom: 25px;
}

.features .container .container-item {
    padding: 20px 25px;
    margin-top: 25px;
    border-radius: 10px;    
    background: #085c89;
    box-shadow: 4px 4px 10px #666;
}

.features .container .container-item h2 i {
    margin-right: 10px;
}

.features .container .container-item p {
    margin-top: 5px;
    font-weight: 200;
}

@media (min-width:750px){
    .features .container {
        flex-direction: row;
        justify-content: space-between;
    }   
    .features .container .container-item {
        flex-basis: 30%;
    } 
}

/* ------------------------------------  Courses */

.other-courses .container {
    margin: 0 auto 50px;
}

.other-courses .container .course{
    position: relative;
    margin-top: 25px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #666;
}
.other-courses .container .course .bg{
    position: relative;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    transition: 0.5s ease-in-out;
}

.other-courses .container .course .bg::after{
    content: "";
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(33,33,33,.5);
    transition: 0.5s ease-in-out;
}
.other-courses .container .course .bg.vue{
    background-image: url("img/vue.jpeg");
}
.other-courses .container .course .bg.react{
    background-image: url("img/react.jpeg");
}
.other-courses .container .course .bg.angular{
    background-image: url("img/angular.jpeg");
}

.other-courses .container .course .course-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    text-align: center;
    padding: 5px 10px;
    transform: translate(-50%, -50%);
    color: #ddd;
    text-transform: uppercase;
    font-weight: bold;
    border: 4px solid #ddd;
    }





@media (min-width:750px){
    .other-courses .container{
       flex-direction: row;
       justify-content: space-between;
    }
    .other-courses .container .course{
        flex-basis: 30%;
    }
}


@media (min-width:1240px){

    .container .course:hover .bg{
        background-size: 250%;
        filter: blur(4px);
    }
    .other-courses .container .course .course-btn{
        top: -50px;
        opacity: 0;
        transition:all .5s ease-in-out ;
    }
    .container .course:hover .course-btn{
        top: 50%; 
        opacity: 1;
    }
    
    .other-courses .container .course:hover .vue::after{
        background: rgba(25,77,51,0.5);
    }
    .other-courses .container .course:hover .react::after{
        background: rgba(97, 219, 251,0.5);
    }
    .other-courses .container .course:hover .angular::after{
        background: rgba(195,0,47,0.5);
    }
}

/* ------------------------------------  Footer */
footer{
    background-color: #085c89;
    padding: 25px;
    text-align: center;
    font-weight: 200;
}

footer p{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 1.8rem;
}
footer p:after, footer p:before{
    content: "";
    position: absolute;
    top: 11.5px;
    width: 25px;
    height: 2px;
    background: #ddd;
}

footer p::before{
    left: -35px;
}
footer p::after{
    right: -35px;
}


#mobile-menu.show{
    position: relative;
    left: 6px;
}
#mobile-menu.show:after, #mobile-menu.show:before{
    right: 10px;
}

#logo.show{
    display: none;
}

.main-nav .container #main-menu.show{
    display: flex;
}
